### Sql관련 처리

In [2]:
import mysql.connector


conn = mysql.connector.connect(
    host = "database-1.c3q2igwk6510.ap-northeast-2.rds.amazonaws.com",
    port = 3306,
    user = "root",
    password = "20030320",
    database = "project_merge"
)

In [3]:
import pandas as pd

In [4]:
cursor = conn.cursor(buffered=True)

##### 회사명에서 (주) 뺴기

In [14]:
df = pd.read_csv("project_merge.csv")

In [15]:
df['기업이름'] = df['기업이름'].str.replace('(주)', '')

In [7]:
from sqlalchemy import create_engine

# MySQL 연결 정보 설정
engine = create_engine('mysql+mysqlconnector://root:20030320@database-1.c3q2igwk6510.ap-northeast-2.rds.amazonaws.com:3306/project_merge')

# DataFrame을 MySQL 테이블로 삽입
df.to_sql(name='project_merge', con=engine, if_exists='replace', index=False)

944

In [16]:
cursor.execute("select * from project_merge limit 3")

result = cursor.fetchall()
for row in result:
    print(row)

('컨트롤웍스', '2년', '연봉업계평균이상', '서울 강남구 언주로81길 13 진일빌딩 3층', '자율주행', '[2년 이상] 자율주행 Front-End 개발자', '[자격요건], 학사 이상 (컴퓨터 공학/감성 및 인간공학 등 전공), 프론트엔드 개발 경력 2년 이상, 프로그래밍 능력 (HTML, CSS, JavaScript, etc.)[채용절차], 서류전형   실무·임원면접  채용검진  최종합격(상황에 따라 실무면접이 별도로 진행될 수 있습니다.)[제출서류], 이력서, 자기소개서, 최종학력 성적증명서(90일 이내 발급), 포트폴리오(선택), 이력서 내 희망연봉 필수기재[근무조건], 근무형태: 정규직, 근무일시: 주 5일(월~금), 시차출근제, 급여조건: 협의 후 결정,  IT기기, 자동차 등 제조업 기반 UX/UI 디자인 경력 보유자,  2D/3D 디자인 툴 및 프로토타입 툴 직무 경험 보유자,  웹 어플리케이션 디자인/설계 경험,  Linux 상 프로그램 개발 능력, 자율주행관련 UI/UX 컨셉 기획- 자율주행 Driving Experience에 적합한 컨셉 기획- 자율주행 UI 프로토타입 설계, 자율주행 프론트엔드 개발- 자율주행시 탑승자와 시스템간 UI 구현- 자율주행 인터페이스 유지 및 보수', 1)
('뷰런테크놀로지', '-', '-', '서초구 강남대로 311, 19층', '자율주행', '자율주행 인지 개발자', ', 전자전기/컴퓨터공학 학사 이상 또는 이와 비슷한 동종업계 경력, C/C++ 또는 Python 개발, MS or higher degree in CS/CE/EE(Candidate) or equivalent industry experience, Experience in the field of deep learning/ machine learning, Strong programming skills in C/C++ or Python, 전자전기/컴퓨터 공학관련 석사 이상학위, 라이다/비전센서 인지(분류 등) 관련 프로젝트 경험, ADAS/Autonomous Driving 관련 업계 경험, MS in CS/CE/EE field(Especially computer vision, digital signal processing), Experience in autonomous driving competition or development, Experience LiDAR / Vision sensor-related project(deep learning/machine learning), Experience in deploying perception algorithms, 라이다 인지 기술 개발 (C/Python), 자율주행 인지 솔루션 연구, 디자인, 개발, 실시간 데이터를 활용한 차량주변 객체 움직임 예측, Develop LiDAR perception algorithm (C/Python), Research, design, and develop perception solutions and algorithms, Implement techniques in object classification, tracking, and prediction, Use real-time estimation from surroundings to predict the motion of surrounding vehicles', 2)
('씨엔비스', '4년', '-', '경기도 성남시 수정구 창업로 43, 판교 글로벌비즈센터 A동 907~910호', '자율주행', '자율주행 인지 개발자', ', 관련 분야 학사학위(4년제) 이상, 혹은 유관 분야 경력 2년 이상이신 분, C/C++ 또는 Python 프로그래밍 언어를 익숙하게 다룰 수 있는  분, 딥러닝/기계학습 분야 경험, 관련 분야 석사 학위 이상 소지자, 자율주행 시스템 구성에 대한 이해, 자율주행 센서(GNSS, IMU, Camera, Lidar 등) 사용 경험, 관련(자율주행 및 AI) 분야 저서/학술활동 이력, 자율주행 및 로보틱스 관련 프로젝트 참여 혹은 개발 경험, 자율주행 차량 혹은 로봇을 운용해본 경험, 자유롭게 자신의 의견을 제시할 수 있으며, 도전 정신이 있으신 분, 영상처리 기술 분석 및 구현, AI 기반 실시간 객체 인지, 추적 등의 기술 구현, 관련 논문 게재 또는 특허 출원', 3)

In [9]:
df.to_csv('project_merge.csv', index=False)

In [10]:
conn.commit()

##### job_planet, project_merge inner join활용 기업이름 일치하는 값들 찾기

In [29]:
# SQL 쿼리 작성 및 실행
query = """
SELECT j.* FROM job_planet AS j 
INNER JOIN project_merge AS p ON TRIM(j.기업이름) = TRIM(p.기업이름) 

"""

# 쿼리 실행
cursor.execute(query)

# 결과 가져오기
result = cursor.fetchall()

# 결과를 DataFrame으로 변환
columns = [i[0] for i in cursor.description]
df_result = pd.DataFrame(result, columns=columns)

# 결과 출력
df_result

         기업이름       분야   평점    연봉     2차산업군
0        인피닉   IT/웹/통신  2.1  2542        IT
1    슈어소프트테크   IT/웹/통신  3.1  3948        IT
2    슈어소프트테크   IT/웹/통신  3.1  3948        IT
3    슈어소프트테크   IT/웹/통신  3.1  3948        IT
4    슈어소프트테크   IT/웹/통신  3.1  3948        IT
..        ...      ...  ...   ...       ...
343       에바     제조/화학  0.0     0  전기/전자/제어
344    디에스케이     제조/화학  0.0  3708  전기/전자/제어
345     니어스랩     제조/화학  3.1  4886  조선/항공/우주
346     니어스랩     제조/화학  3.1  4886  조선/항공/우주
347     니어스랩     제조/화학  3.1  4886  조선/항공/우주

[348 rows x 5 columns]

In [37]:
#기업이름 중복된 행 제거
df_result.drop_duplicates(subset=['기업이름'], keep='first', inplace=True)
len(df_result)

118

In [31]:
df_result.to_csv('pj_innerjoin.csv', index=False)

##### innerjoin과 나머지 값들의 평점 및 연봉 비교

In [32]:
import pandas as pd
df = pd.read_csv("pj_innerjoin.csv")
df.head()

       기업이름       분야   평점    연봉 2차산업군
0      인피닉   IT/웹/통신  2.1  2542    IT
1  슈어소프트테크   IT/웹/통신  3.1  3948    IT
2     크래프톤   IT/웹/통신  3.4  5179    IT
3       파수   IT/웹/통신  3.1  4298    IT
4      와디즈   IT/웹/통신  2.9  3852    IT

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   기업이름    118 non-null    object
 1   분야      118 non-null    object
 2   평점      118 non-null    float64
 3   연봉      118 non-null    int64
 4   2차산업군   118 non-null    object
dtypes: float64(1), int64(1), object(3)
memory usage: 4.7+ KB

In [34]:
import mysql.connector
conn = mysql.connector.connect(
    host = "database-1.c3q2igwk6510.ap-northeast-2.rds.amazonaws.com",
    port = 3306,
    user = "root",
    password = "20030320",
    database = "project_merge"
)
cursor = conn.cursor(buffered=True)

In [ ]:
create_table_query = """
CREATE TABLE inner_join (
    `기업이름` VARCHAR(50),
    `분야` VARCHAR(30),
    `평점` float,
    `연봉` int,
    `2차산업군` VARCHAR(30)
);
"""
cursor.execute(create_table_query)

In [40]:
# SQL INSERT
for index, row in df.iterrows():
    insert_query = """
    INSERT INTO inner_join (`기업이름`, `분야`, `평점`, `연봉`, `2차산업군`)
    VALUES (%s, %s, %s, %s, %s);
    """
    cursor.execute(insert_query, (row['기업이름'], row['분야'], float(row['평점']), int(row['연봉']), row['2차산업군']))

In [41]:
cursor.execute("select * from inner_join limit 3;")
result = cursor.fetchall()
for row in result:
    print(row)
conn.commit()

('인피닉 ', 'IT/웹/통신', 2.1, 2542, 'IT')
('슈어소프트테크 ', 'IT/웹/통신', 3.1, 3948, 'IT')
('크래프톤 ', 'IT/웹/통신', 3.4, 5179, 'IT')

In [42]:
#inner_join테이블(잡플래닛에 있는 합친 데이터와 공통된 값 모은 테이블)
query = """
SELECT AVG(j.연봉) AS 평균연봉, AVG(j.평점) AS 평균평점
FROM inner_join AS j

"""

df_result = pd.read_sql(query, conn)
df_result

/tmp/ipykernel_3160/1357313640.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_result = pd.read_sql(query, conn)

        평균연봉      평균평점
0  3612.3898  2.914407

In [43]:
#inner_join테이블 값들을 제외한 나머지 jab_planet 값들에 대한 분야별 평균연봉 및 평균평점
query = """
SELECT j.분야, AVG(j.연봉) AS 평균연봉, AVG(j.평점) AS 평균평점
FROM job_planet AS j
WHERE j.기업이름 NOT IN (SELECT i.기업이름 FROM inner_join AS i)
GROUP BY j.분야;
"""

df_result = pd.read_sql(query, conn)
df_result

/tmp/ipykernel_3160/1416872587.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_result = pd.read_sql(query, conn)

        분야       평균연봉      평균평점
0  IT/웹/통신  2839.6097  2.586564
1      건설업  2873.0689  2.244350
2    제조/화학  3371.5677  2.327876

* cor_growth 자료랑, job_planet 자료를 조인해서, job_planet 기업이름이랑 cor_growth 기업이름이랑 매칭 --> 가능하면? 사람인이랑도 병합 이후,
* cor_growth에 추가 컬럼을 생성 :
1. ((자본총계1-자본총계3) / 자본총계3) * 100: 자본총계성장률
 2.  ((매출액1 - 매출액3) /매출액3) * 100 : 매출액성장률
3. ((순이익1 - 순이익3) /순이익3) * 100: 순이익성장률
1. orderby 순이익
 2. orderby 매출액성장률
3. orderby 순이익성장률

In [44]:
# project_merge, cor_growth join 후 순이익성장지수 구하기
query = """
SELECT c.기업이름, c.키워드, j.2차산업군, j.연봉, j.평점, ((c.순이익1 - c.순이익3)/c.순이익3) as 순이익성장지수
FROM cor_growth AS c
INNER JOIN job_planet AS j ON TRIM(j.기업이름) LIKE CONCAT('%', TRIM(c.기업이름), '%')
GROUP BY c.기업이름
order by 순이익성장지수 desc, j.연봉 desc, j.평점 desc limit 10;
"""

# 쿼리 실행
cursor.execute(query)

# 결과 가져오기
result = cursor.fetchall()

# 결과를 DataFrame으로 변환
columns = [i[0] for i in cursor.description]
df_result = pd.DataFrame(result, columns=columns)

# 결과 출력
df_result

        기업이름   키워드      2차산업군    연봉   평점  순이익성장지수
0       크래프톤   딥러닝         IT  5179  3.4  93.5633
1        포인드   딥러닝         IT     0  4.0  26.4759
2    뷰런테크놀로지   딥러닝         IT     0  2.7  25.1803
3       프로메카  로봇제어  기계/설비/자동차  6312  2.5  22.3302
4  에이치알맨파워그룹  로봇제어         IT  2779  3.6   2.7821
5    글로벌로보틱스  로봇제어  기계/설비/자동차  3135  2.4   1.5184
6         에바  로봇제어         IT     0  0.0   1.4892
7         한화  로봇제어         IT  4907  3.2   1.2272
8        라닉스  자율주행         IT  2969  2.3   1.2206
9     크라우드웍스   딥러닝         IT  3864  3.2   1.1562

In [16]:
# project_merge, cor_growth join 후 매출액성장지수 구하기
query = """
SELECT c.기업이름, c.키워드, j.2차산업군, j.연봉, j.평점, ((c.매출액1 - c.매출액3)/c.매출액3) as 매출액성장지수
FROM cor_growth AS c
INNER JOIN job_planet AS j ON TRIM(j.기업이름) LIKE CONCAT('%', TRIM(c.기업이름), '%')
GROUP BY c.기업이름
order by 매출액성장지수 desc, j.연봉 desc, j.평점 desc limit 10;
"""

# 쿼리 실행
cursor.execute(query)

# 결과 가져오기
result = cursor.fetchall()

# 결과를 DataFrame으로 변환
columns = [i[0] for i in cursor.description]
df_result = pd.DataFrame(result, columns=columns)

# 결과 출력
df_result

        기업이름   키워드      2차산업군    연봉   평점  매출액성장지수
0         에바  로봇제어         IT     0  0.0  42.9502
1      고스트패스   딥러닝         IT  3563  1.0  30.2486
2        와디즈   딥러닝         IT  3852  2.9  27.6172
3       크래프톤   딥러닝         IT  5179  3.4  17.5230
4         반프  자율주행   전기/전자/제어     0  4.6  12.7333
5  오픈엣지테크놀로지  자율주행         IT  5782  2.0   8.1965
6        무스마   딥러닝         IT  3351  3.8   5.0306
7      써로마인드   딥러닝         IT  3946  2.6   4.0491
8       프로메카  로봇제어  기계/설비/자동차  6312  2.5   3.4988
9       유진로봇  로봇제어   전기/전자/제어  4407  2.5   1.0144

In [14]:
# project_merge, cor_growth join 후 자본총계성장지수 구하기
query = """
SELECT c.기업이름, c.키워드, j.2차산업군, j.연봉, j.평점,((c.자본총계1 - c.자본총계3)/c.자본총계3) as 자본총계성장지수
FROM cor_growth AS c
INNER JOIN job_planet AS j ON TRIM(j.기업이름) LIKE CONCAT('%', TRIM(c.기업이름), '%')
GROUP BY c.기업이름
order by 자본총계성장지수 desc, j.연봉 desc, j.평점 desc limit 10;
"""

# 쿼리 실행
cursor.execute(query)

# 결과 가져오기
result = cursor.fetchall()

# 결과를 DataFrame으로 변환
columns = [i[0] for i in cursor.description]
df_result = pd.DataFrame(result, columns=columns)

# 결과 출력
df_result

      기업이름   키워드      2차산업군    연봉   평점 자본총계성장지수
0       반프  자율주행   전기/전자/제어     0  4.6  41.1214
1     프로메카  로봇제어  기계/설비/자동차  6312  2.5  40.8522
2   코가로보틱스  로봇제어         IT  3365  1.8  30.0962
3  코난테크놀로지   딥러닝         IT  3863  2.6   8.2310
4  뷰런테크놀로지   딥러닝         IT     0  2.7   7.6038
5      포인드   딥러닝         IT     0  4.0   3.7364
6     크래프톤   딥러닝         IT  5179  3.4   3.1991
7       에바  로봇제어         IT     0  0.0   2.6657
8      무스마   딥러닝         IT  3351  3.8   1.6058
9    딥인스펙션   딥러닝         IT  3379  1.9   1.5213

In [12]:
# project_merge, cor_growth join 후 총성장지수 구하기
query = """
SELECT c.기업이름, c.키워드, j.2차산업군, j.연봉, j.평점, 
(((c.순이익1 - c.순이익3) / c.순이익3) + ((c.매출액1 - c.매출액3) / c.매출액3) + ((c.자본총계1 - c.자본총계3) / c.자본총계3)) as 총성장지수
FROM cor_growth AS c
INNER JOIN job_planet AS j ON TRIM(j.기업이름) LIKE CONCAT('%', TRIM(c.기업이름), '%')
GROUP BY c.기업이름
order by 총성장지수 desc, j.연봉 desc, j.평점 desc limit 10;
"""

# 쿼리 실행
cursor.execute(query)

# 결과 가져오기
result = cursor.fetchall()

# 결과를 DataFrame으로 변환
columns = [i[0] for i in cursor.description]
df_result = pd.DataFrame(result, columns=columns)

# 결과 출력
df_result

        기업이름   키워드      2차산업군    연봉   평점     총성장지수
0       크래프톤   딥러닝         IT  5179  3.4  114.2853
1       프로메카  로봇제어  기계/설비/자동차  6312  2.5   66.6813
2         에바  로봇제어         IT     0  0.0   47.1051
3    뷰런테크놀로지   딥러닝         IT     0  2.7   33.5925
4        포인드   딥러닝         IT     0  4.0   31.0947
5      고스트패스   딥러닝         IT  3563  1.0   29.4795
6        와디즈   딥러닝         IT  3852  2.9   26.1464
7     코가로보틱스  로봇제어         IT  3365  1.8    6.2663
8  오픈엣지테크놀로지  자율주행         IT  5782  2.0    6.1954
9        무스마   딥러닝         IT  3351  3.8    5.3374

In [24]:
# project_merge, job_planet join
query = """
SELECT p.기업이름, p.키워드, j.2차산업군, j.연봉, j.평점
FROM project_merge AS p
INNER JOIN job_planet AS j ON TRIM(j.기업이름) LIKE CONCAT('%', TRIM(p.기업이름), '%')
GROUP BY p.기업이름;
"""

# 쿼리 실행
cursor.execute(query)

# 결과 가져오기
result = cursor.fetchall()

# 결과를 DataFrame으로 변환
columns = [i[0] for i in cursor.description]
df_result = pd.DataFrame(result, columns=columns)

# 결과 출력
df_result

          기업이름   키워드     2차산업군    연봉   평점
0          인피닉  자율주행        IT  2542  2.1
1      슈어소프트테크   딥러닝        IT  3948  3.1
2         크래프톤   딥러닝        IT  5179  3.4
3           파수   딥러닝        IT  4298  3.1
4          와디즈   딥러닝        IT  3852  2.9
..         ...   ...       ...   ...  ...
122  엠투아이코퍼레이션  로봇제어  전기/전자/제어  3948  3.6
123        캔탑스   딥러닝  전기/전자/제어  3755  2.7
124        오토엘  로봇제어  전기/전자/제어  5452  2.8
125         반프  자율주행  전기/전자/제어     0  4.6
126       니어스랩    드론  조선/항공/우주  4886  3.1

[127 rows x 5 columns]

In [ ]:
df_result.to_csv('pj_join.csv', index=False)

In [25]:
# job_planet-(project_merge, job_planet)
query = """
SELECT j.*
FROM job_planet AS j
WHERE TRIM(j.기업이름) NOT IN (
    SELECT p.기업이름
    FROM project_merge AS p
    INNER JOIN job_planet AS j ON TRIM(j.기업이름) LIKE CONCAT('%', TRIM(p.기업이름), '%')
    GROUP BY p.기업이름);

"""

# 쿼리 실행
cursor.execute(query)

# 결과 가져오기
result = cursor.fetchall()

# 결과를 DataFrame으로 변환
columns = [i[0] for i in cursor.description]
df_result = pd.DataFrame(result, columns=columns)

# 결과 출력
df_result

           기업이름       분야   평점    연봉     2차산업군
0           티몬   IT/웹/통신  2.8  4175        IT
1          위메프   IT/웹/통신  2.6  3989        IT
2       엘지유플러스   IT/웹/통신  3.2  4909        IT
3      삼성에스디에스   IT/웹/통신  3.5  5939        IT
4       엘지씨엔에스   IT/웹/통신  3.2  5322        IT
...         ...      ...  ...   ...       ...
12501     화인코왁     제조/화학  0.0  3201  조선/항공/우주
12502     대양산업     제조/화학  0.0     0  조선/항공/우주
12503  백광엔지니어링     제조/화학  0.0     0  조선/항공/우주
12504       보고     제조/화학  0.0  3864  조선/항공/우주
12505       유신     제조/화학  0.0  3383  조선/항공/우주

[12506 rows x 5 columns]

In [26]:
df_result.to_csv('pj_difference.csv', index=False)

In [34]:
df_result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   기업이름    44 non-null     object
 1   기업규모    44 non-null     object
 2   매출액     44 non-null     int64
 3   평균연봉    44 non-null     int64
 4   자본총계1   44 non-null     int64
 5   자본총계2   44 non-null     int64
 6   자본총계3   44 non-null     int64
 7   매출액1    44 non-null     int64
 8   매출액2    44 non-null     int64
 9   매출액3    44 non-null     int64
 10  순이익1    44 non-null     int64
 11  순이익2    44 non-null     int64
 12  순이익3    44 non-null     int64
 13  기준년도    44 non-null     int64
 14  키워드     44 non-null     object
 15  인덱스     44 non-null     int64
 16  평점      44 non-null     float64
 17  연봉      44 non-null     int64
dtypes: float64(1), int64(14), object(3)
memory usage: 6.3+ KB