### 채용사이트 : 인크루트

### 스타트업 (경기/서울)

스타트업 > 서울,경기 > 기계·금속·재료 > 전자·반도체 > 빅데이터·AI(인공지능) > 소프트웨어·하드웨어

정보량에 따라 Timeout 발생

## 테스트

In [23]:
url = "https://www.incruit.com/company/15352579"

response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

name_element = soup.select_one('#company_warp > div:nth-child(1) > div > div > div.section_view_company_header_right > div > div > div > ul:nth-child(1) > li:nth-child(1) > span')
revenue_element = soup.select_one('#company_warp > div:nth-child(1) > div > div > div.section_view_company_header_right > div > div > div > ul:nth-child(3) > li:nth-child(1) > span')


if revenue_element:
    revenue_text = revenue_element.get_text(strip=True)
    name_text = name_element.get_text(strip=True)
    
    print("기업이름: ", name_text)
    print("Revenue:", revenue_text)
else:
    print("Revenue information not found.")

기업이름:  (주)미미박스
Revenue: 208억 1,952만원(2022)

In [54]:
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.by import By
import requests
import pandas as pd

base_url = "https://job.incruit.com/jobdb_list/searchjob.asp?compty=10&rgn2=18&rgn2=11&occ2=578&occ2=632&occ2=170&occ2=175"

chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument("--headless")
driver = webdriver.Chrome(options=chrome_options)

# 데이터프레임 만들기
columns = ["기업이름", "매출액"]
df = pd.DataFrame(columns=columns)

# 기업이름과 매출액에 대한 정보 추출
def extract_company_info(company_url):
    response = requests.get(company_url)
    soup = BeautifulSoup(response.text, "html.parser")

    name_element = soup.select_one('#company_warp > div:nth-child(1) > div > div > div.section_view_company_header_right > div > div > div > ul:nth-child(1) > li:nth-child(1) > span')
    revenue_element = soup.select_one('#company_warp > div:nth-child(1) > div > div > div.section_view_company_header_right > div > div > div > ul:nth-child(3) > li:nth-child(1) > span')

    if revenue_element:
        revenue_text = revenue_element.get_text(strip=True)
        name_text = name_element.get_text(strip=True)

        df.loc[len(df)] = [name_text, revenue_text]
        print("기업이름: ", name_text)
        print("매출액:", revenue_text)
    else:
        print("매출액에 대한 정보가 없음")

for page_number in range(1, 4):  
    url = f"{base_url}&page={page_number}"
    driver.get(url)

    job_elements = driver.find_elements(By.CSS_SELECTOR, '#JobList_Area > div > div.cBbslist_contenst > ul > li > div.cell_first > div.cl_top > a')
    
    for job_element in job_elements:
        job_url = job_element.get_attribute("href")
        extract_company_info(job_url)

기업이름:  (주)쉬모스랩
매출액: 2억 2,833만원(2022)
기업이름:  한국축산데이터 주식회사 농업회사법인
매출액: -
기업이름:  (주)아폴론
매출액: -
기업이름:  (주)스피링크
매출액: 17억 2,493만원(2022)
기업이름:  (주)리코
매출액: 85억 6,143만원(2022)
기업이름:  아이칩(주)
매출액: -
기업이름:  코스모스랩
매출액: -
기업이름:  코싸인온(주)
매출액: 9억 7,109만원(2022)
기업이름:  시너지에이아이(주)
매출액: -
기업이름:  (주)스피링크
매출액: 17억 2,493만원(2022)
기업이름:  와디즈(주)
매출액: 341억 4,284만원(2022)
기업이름:  (주)스마트디아그노시스
매출액: 3억 8,374만원(2022)
기업이름:  코싸인온(주)
매출액: 9억 7,109만원(2022)
기업이름:  (주)프로닉스
매출액: 4억 97만원(2022)
기업이름:  (주)서울로보틱스
매출액: 8,100만원(2018)
기업이름:  (주)서울로보틱스
매출액: 8,100만원(2018)
기업이름:  주식회사 빗썸코리아
매출액: 3,201억 328만원(2022)
기업이름:  (주)서울로보틱스
매출액: 8,100만원(2018)
기업이름:  세미브레인(주)
매출액: 1억원(2023)
기업이름:  주식회사 동양토탈파킹
매출액: -
기업이름:  (주)스피링크
매출액: 17억 2,493만원(2022)
기업이름:  파이프트리스마트팜 주식회사
매출액: 1억 4,700만원(2022)
기업이름:  (주)스피링크
매출액: 17억 2,493만원(2022)
기업이름:  (주)스피링크
매출액: 17억 2,493만원(2022)
기업이름:  (주)스피링크
매출액: 17억 2,493만원(2022)
기업이름:  (주)스피링크
매출액: 17억 2,493만원(2022)
기업이름:  파이프트리스마트팜 주식회사
매출액: 1억 4,700만원(2022)
기업이름:  플러스아이덴티티 유한회사
매출액: -
기업이름:  주식회사 빗썸코리아
매출액: 3,201억 328만원(2022)
기업이름:  주식회사 빗썸코리아
매출액: 3,201억 328만원(2022)
매출액에 대한 정보가 없음
기업이름:  파이프트리스마트팜 주식회사
매출액: 1억 4,700만원(2022)
기업이름:  (주)아폴론
매출액: -

In [55]:
df

                   기업이름                 매출액
0               (주)쉬모스랩    2억 2,833만원(2022)
1   한국축산데이터 주식회사 농업회사법인                   -
2                (주)아폴론                   -
3               (주)스피링크   17억 2,493만원(2022)
4                 (주)리코   85억 6,143만원(2022)
5                아이칩(주)                   -
6                 코스모스랩                   -
7               코싸인온(주)    9억 7,109만원(2022)
8            시너지에이아이(주)                   -
9               (주)스피링크   17억 2,493만원(2022)
10               와디즈(주)  341억 4,284만원(2022)
11         (주)스마트디아그노시스    3억 8,374만원(2022)
12              코싸인온(주)    9억 7,109만원(2022)
13              (주)프로닉스       4억 97만원(2022)
14            (주)서울로보틱스       8,100만원(2018)
15            (주)서울로보틱스       8,100만원(2018)
16           주식회사 빗썸코리아  3,201억 328만원(2022)
17            (주)서울로보틱스       8,100만원(2018)
18             세미브레인(주)           1억원(2023)
19          주식회사 동양토탈파킹                   -
20              (주)스피링크   17억 2,493만원(2022)
21       파이프트리스마트팜 주식회사    1억 4,700만원(2022)
22              (주)스피링크   17억 2,493만원(2022)
23              (주)스피링크   17억 2,493만원(2022)
24              (주)스피링크   17억 2,493만원(2022)
25              (주)스피링크   17억 2,493만원(2022)
26       파이프트리스마트팜 주식회사    1억 4,700만원(2022)
27        플러스아이덴티티 유한회사                   -
28           주식회사 빗썸코리아  3,201억 328만원(2022)
29           주식회사 빗썸코리아  3,201억 328만원(2022)
30       파이프트리스마트팜 주식회사    1억 4,700만원(2022)
31               (주)아폴론                   -

In [58]:
import re

df['매출액'] = df['매출액'].str.replace(r'\(20(23|22|21|20|19|18|17|09)\)', '', regex=True)
df

                   기업이름           매출액
0               (주)쉬모스랩    2억 2,833만원
1   한국축산데이터 주식회사 농업회사법인             -
2                (주)아폴론             -
3               (주)스피링크   17억 2,493만원
4                 (주)리코   85억 6,143만원
5                아이칩(주)             -
6                 코스모스랩             -
7               코싸인온(주)    9억 7,109만원
8            시너지에이아이(주)             -
9               (주)스피링크   17억 2,493만원
10               와디즈(주)  341억 4,284만원
11         (주)스마트디아그노시스    3억 8,374만원
12              코싸인온(주)    9억 7,109만원
13              (주)프로닉스       4억 97만원
14            (주)서울로보틱스       8,100만원
15            (주)서울로보틱스       8,100만원
16           주식회사 빗썸코리아  3,201억 328만원
17            (주)서울로보틱스       8,100만원
18             세미브레인(주)           1억원
19          주식회사 동양토탈파킹             -
20              (주)스피링크   17억 2,493만원
21       파이프트리스마트팜 주식회사    1억 4,700만원
22              (주)스피링크   17억 2,493만원
23              (주)스피링크   17억 2,493만원
24              (주)스피링크   17억 2,493만원
25              (주)스피링크   17억 2,493만원
26       파이프트리스마트팜 주식회사    1억 4,700만원
27        플러스아이덴티티 유한회사             -
28           주식회사 빗썸코리아  3,201억 328만원
29           주식회사 빗썸코리아  3,201억 328만원
30       파이프트리스마트팜 주식회사    1억 4,700만원
31               (주)아폴론             -

In [59]:
df.to_csv("/home/kkyu/amr_ws/eda/data/스타트업_매출액.csv", index = False)